.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #FF9933;
}

.footer_logo img {
  width: 60px;
  margin-bottom: 5px;
}

.footer_logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer_logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 28px;
}

.delivery_time-item {
  background: transparent !important;
}

.delivery_time-item span {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
}

.delivery_time-item p {
  color: #212245;
}

.footer_title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}


.social_links span i {
  padding: 5px;
  background: #df2020;
  color: #fff;
  border-radius: 50%;
}


@media only screen and (max-width: 992px) {

  .footer_logo img {
    width: 80px;
    margin-bottom: 5px;
  }


  .footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #FF9933;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 768px) {


  .footer_title {
    font-size: 0.8rem;
  }

  .delivery_time-item span {
    font-size: 0.8rem;
  }

  .delivery_time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {


  .social_links p {
    font-size: 0.8rem;
  }

  .social_links span {
    padding: 4px;
  }

  .social_links span a {
    font-size: 0.7rem;
  }
}